.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    min-height: 100vh;
}

.mySwiper button {
    outline-width: 1px;
}

.mySwiper img {
    width: 8rem;
    height: max-content;
}

.swiper-wrapper {
    min-height: 100vh;
}

.banner-1, .banner-2, .banner-3, .banner-4, .banner-5 {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.banner-1 {
    background-position: center;
}

.banner-2 {
    background-position: 70%;
}

.banner-3 {
    background-position: center;
}

.banner-4 {
    background-position: center;
}

.banner-5 {
    background-position: 70%;
}

.swiper-pagination {
    margin-bottom: 2rem;
}

.swiper-pagination-bullet {
    background: transparent !important;
    border: 1px solid white;
    opacity: 1 !important;
    margin-inline: 8px !important;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
}

.flex-img {
    width: 48.87%;
}

.swiper-slide {
    opacity: 30%;
    transition: opacity 1s linear;
}

.swiper-slide-active {
    opacity: 1;
}

@media (max-width: 640px) {
    .flex-img {
        width: 100% !important;
        margin-top: 5px;
    }
}